.no-result-container {
    position: absolute;
    top: calc(50% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(1,17,38, .9);
    color: #BFBFBF;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 3vh 0 ;
}

.no-result-container h1 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0 3vw 3vh 3vw;
    color: #BFBFBF;
    font-size: 4vh;
}

.no-result-img-container {
    width: 100%;
}

.no-result-img {
    width: 100%;
    height: auto;

}

.no-result-container h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    padding: 3vh 3vw 0 3vw;
    color: #F26BAA;
    font-weight: 300;
    font-size: 4vh;
}

.no-result-link {
    color: whitesmoke;
}

.no-result-link:hover{
    color: #D7F207;
}

.result-container {
    background-color: rgba(1,17,38, .9) !important;
    width: 100%;
    position: absolute;
    top: calc(50% + 35px);
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1vh;
}

.result-container h1 {
    color: #BFBFBF;
    min-height: 15%;
    margin: 0;
    text-align: center;
    padding: 3vh 1.75vw 3vh 1.75vw;
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

.result-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-img {
    width: auto;
    height: auto;
    max-height: 60vh;
}

.button-div {
    min-height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh 0 3vh 0;
}

.type-button {
    height: 100%;
    font-size: 3vh;
    padding: 1vh 2vw;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    background-color: #A6A6A6;
    color: black;
}

.type-button:hover{
    background-color: #F26BAA;
}

@media only screen and (orientation: landscape) {
    .no-result-container {
        height: auto;
        width: auto;
        margin: 0;
    }
    
    .no-result-container h1{
        font-size: 5vh;
        padding: 2vh 2vw 4vh 2vw;
    }

    .no-result-img-container {
        height: 30vh;
    }

    .no-result-img {
        height: 100%;
        width: auto;
    }

    .no-result-container h2 {
        font-size: 5vh;
        padding: 4vh 2vw 2vh 2vw;
    }

    .result-container {
        justify-content: space-evenly;
        width: auto;
    }

    .result-container h1 {
        font-size: 5vh;
        margin: 1vh;
        white-space: nowrap;
    }

    .result-img {
        height: 45vh;
        width: auto;
    }

    .type-button {
        font-size: 2.5vh;
        padding: .75vh 1vw;
        margin: 1vh;
    }
}
