.result-container {
    background-color: black !important;
    width: 100%;
    position: absolute;
    top:  54%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 92vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1vh;
}

.result-container h1 {
    color: white;
    min-height: 15%;
    margin: 0;
    text-align: center;
    padding: 3vh 1.75vw 3vh 1.75vw;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-img-container {
    max-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-img {
    max-width: 100%;
    max-height: 100%;
}

.button-div {
    min-height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh 0 3vh 0;
}

.type-button {
    width: 50vw;
    height: 100%;
    font-size: 3em;
    padding: 1vh;
}

@media only screen and (orientation: landscape) {
    .result-container {
        width: 45vw;
        height: calc(100vh - 100px);
        transform: translate(-50%, 0%);
        top: 85px;
    }

    .result-container h1 {
        width: 100%;
        font-size: 4.5em;
        height: 20%;
    }

    .result-img-container {
        height: 60%;
        width: auto;
    }

    .button-div {
        height: 20%;
        width: 100%;
    }

    .type-button {
        width: 30%;
        height: 80%;
        font-size: 3em;
    }
}
