.types-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.types-font-container {
    width: 100vw;
    margin: 4vh 0 4vh 0;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.types-font-img {
    width: 90vw;
    height: auto; 
    border-bottom-left-radius: 20% 50%;  
    margin: 3vh 0 3vh 0;
}

.type-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #011126;
    color: #A6A6A6;
    margin-bottom: 6vh;
}

.type-container h2 {
    margin: 4vh 0 4vh 0;
    font-size: 4vh;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

.type-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-img {
    width: 100%;
    height: auto;
}

.learn-link-container {
    margin: 4vh 0 4vh 0;
    background-color: #A6A6A6;
    padding: .75vh 1.5vh .75vh 1.5vh;
}

.learn-link {
    text-decoration: none;
    font-size: 2.5vh;
    color: black;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
}

.learn-link-container:hover {
    background-color: #F26BAA;
}

@media only screen and (orientation: landscape) {
    .types-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .types-font-container {
        margin: 7vh 0 7vh 0;
    }

    .types-font-img {
        width: 60%;
    }

    .type-container {
        width: 40vw;
        height: calc(100vh - 120px);
        justify-content: space-evenly;
    }

    .type-container h2 {
       font-size: 5vh;
       margin: 0;
    }

    .type-img-container {
        height: 60%;
    }

    .type-img {
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }

    .learn-link-container {
        margin: 0;
    }

    .learn-link {
        font-size: 3vh;
        padding: 1vh 2vh;
    }
}
