.quiz-banner {
    margin-top: 70px;
    padding: 3vw;
    background-color: #F26BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5vh;
}

.quiz-banner p {
    animation: 2s ease-in-out 1s 1 reverse both running slidein;
    font-family: 'Source Sans 3', sans-serif;
    color: black;
    font-weight: 400;
}

@keyframes slidein {
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translate(100vw);
    }
}

.quiz-link {
    color: black;
    font-weight: 900;
}

.quiz-link:hover {
    color: whitesmoke;
}

.home-container {
    margin: 30px 3vw 30px 3vw;
    background-color: rgba(1,17,38, .9);
    color: #BFBFBF;
    padding: 4vw;
    overflow: hidden;
}

.home-font-container {
    margin: 0 2vw 0 2vw;
}

.home-font-img {
    width: 35vw;
    height: auto;
    border-radius: 30%;
}

.home-container p {
    font-size: 3vh;
    text-align: justify;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

.home-img {
    border-radius: 50%;
    width: 45vw;
    height: auto;
   
}

#left-top {
    float: left;
    margin: 0 4vw 4vw 0;
    shape-outside: circle();
}

#right {
    float: right;
    margin: 4vw 0 4vw 4vw;
    shape-outside: circle();
}

#left-bottom {
    float: left;
    margin: 4vw 4vw 4vw 0;
    shape-outside: circle();
}

@media only screen and (orientation: landscape) {
    .quiz-banner {
        padding: 2vh;
        font-size: 2vw;
    }
    
    .home-container h1 {
        font-size: 9vh;
    }
    
    .home-container p {
        font-size: 6vh;
    }

    .home-container img {
        width: 30vw;
    }

    #left-top {
        float: left;
        margin: 0 3vw 3vw 0;
    }
    
    #right {
        float: right;
        margin: 3vw 0 3vw 3vw;
    }
    
    #left-bottom {
        float: left;
        margin: 3vw 3vw 3vw 0;
    }
}
