.home-container {
    margin: 100px 3vw 30px 3vw;
    background-color: black;
    color: white;
    white-space: pre-line;
    padding: 4vw;
    overflow: hidden;
}

.home-container h1 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 5vh;
}

.home-container p {
    text-align: justify;
    font-size: 3vh;
}

.home-img {
    width: 45vw;
    height: auto;
}

#left-top {
    float: left;
    margin: 0 4vw 4vw 0;
}

#right {
    float: right;
    margin: 4vw 0 4vw 4vw;
}

#left-bottom {
    float: left;
    margin: 4vw 4vw 4vw 0;
}

@media only screen and (orientation: landscape) {
    .home-container h1 {
        font-size: 9vh;
    }
    
    .home-container p {
        font-size: 5vh;
    }

    .home-container img {
        width: 30vw;
    }

    #left-top {
        float: left;
        margin: 0 3vw 3vw 0;
    }
    
    #right {
        float: right;
        margin: 3vw 0 3vw 3vw;
    }
    
    #left-bottom {
        float: left;
        margin: 3vw 3vw 3vw 0;
    }
}