.description-container {
    background-color: rgba(1,17,38, .9);
    color: #A6A6A6;
    margin: 90px 4vw 20px 4vw;
    padding: 4vw;
    max-width: 100%;
    
}

.description-font-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.description-font-img {
    height: 9vh;
    width: auto;
    max-width: 100%;
    max-height: auto;
    padding: 0;
    border-bottom-left-radius: 20% 50%;
}

.description-cockatoo-font-container {
    max-width: 40%;
    align-self: flex-end;
}

.description-cockatoo-font {
    height: 4vh;
    padding: 0;
    border-bottom-left-radius: 20% 50%;
    margin: 0 0 1vh 1vw; 
}

.description-img-container {
    float: left;
    width: 50%;
    margin: 0 4vw 4vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    shape-outside: margin-box;
}

.description-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    shape-outside: margin-box;
}

#description-left {
    float: left;
}

#description-right {
    float: right;
    margin: 0 0 4vw 4vw;
}

.description-container p {
    white-space: pre-line;
    font-size: 3vh;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

@media only screen and (orientation: landscape) {
    .description-container {
        padding: 2vw 4vw 4vw 4vw;
    }

    .description-font-container {
        margin-bottom: 3vh;
    }

    .description-font-img {
        width: auto;
        height: 20vh;
    }

    .description-cockatoo-font {
        height: 10vh;
        width: auto;
        margin: 0 0 2.5vh 1vw;
        align-self: flex-end;
    }
   
    .description-img-container {
        height: 50vh;
        margin: 0 3vw 3vh 0;
        width: auto;
    }

    .description-img {
        width: auto;
        height: 100%;
    }

    .description-container p {
        font-size: 6vh;
    }
}
