* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}

li {
    list-style: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}


.nav-branding {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    max-width: 75%;
}

.nav-img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: .07s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger-active {
    display: block;
    cursor: pointer;
}

.hamburger-active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    left: -100%;
    top: 70px;
    gap: 0;
    width: 100%;
    position: fixed;
    flex-direction: column;
    background-color: #262626;
    text-align: center;
    transition: 0.3s;
    display: flex;
    z-index: 5;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu-active {
    left: 0;
    top: 70px;
    gap: 0;
    width: 100%;
    position: fixed;
    flex-direction: column;
    background-color: black;
    text-align: center;
    transition: 0.3s;
    display: flex;
    z-index: 5;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: white;
}
